---
import EducationItem from "./EducationItem.astro"
const EXPERIENCIE = [
  {
    date: "2022 - 2023",
    title: "Master of Science - MS, Computer Science and Engineering",
    company: "The University of Texas at Arlington",
    description:"The University of Texas at Arlington",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "2015 - 2017",
    title: "Master of Technology (MTech), Computer Science",
    company: "Sree Chitra Thirunal College of Engineering",
    description:"Sree Chitra Thirunal College of Engineering",
  },
  { 
    date: "2011 - 2015",
    title: "Bachelor of Technology (B.Tech.), Computer Science",
    company: "University of Kerala",
    description:"University of Kerala"
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <EducationItem {...experiencie} />
      </li>
    ))
  }
</ol>
