---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Jun 2024 - Present",
    title: "Frontend Engineer",
    company: "3UM",
    description:
      "Developed responsive and user-friendly websites using TypeScript and React, Created an Atomic SDK with reusable components using Storybook by designing and implementing a consistent component architecture, resulting in more efficient development across multiple projects",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "Jun 2023 - Aug 2023",
    title: "Technical Development Intern",
    company: "Diaconia",
    description:
      "Led a team to design and develop a chat application, architecting and optimizing data flow with AWS infrastructure, resulting in seamless document uploads and efficient query resolution, Implemented prompt engineering to retrieve relevant responses based on user queries within documents",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "Apr 2019 - Nov 2021",
    title: "Senior Software Engineer",
    company: "IBS Software",
    description:
      "Contributed to the “iCargo” project by spearheading the development of dynamic web pages, which optimized cargo check-in services and revamped old web pages using React Redux and Struts Framework Contributed to the iCargo Android application development by utilizing React Native for feature implementation and bug fixing, improving overall app performance and user experience Enhanced code quality and reliability by increasing test coverage using Junit test cases from 20% to 95%",
  },
  { 
    date: "Nov 2017 - Apr 2019",
    title: "Software Engineer",
    company: "National Informatics Centre, Govt of India",
    description:"Collaborated on the Secure project, a web-based government application for precise cost estimation and project approval. Revamped the 'Secure' and 'Price' applications using the Spring Framework, improving performance by 40% through specialized solutions, resulting in more accurate cost analysis and efficient project approval. "
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
