---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Jun 2023 - Aug 2023",
    title: "Technical Development Intern",
    company: "Diaconia",
    description:
      "Architected a document-centric chat application “Talk to Your Document” leveraging AWS infrastructure. This innovative system allows for the seamless uploading of documents, enabling users to submit queries about the document, whereupon pertinent responses are systematically retrieved and presented in a responsive manner",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "Apr 2019 - Nov 2021",
    title: "Senior Software Engineer",
    company: "IBS Software",
    description:
      "Contributed to “iCargo” project which is an air cargo management platform. Spearheaded the development of dynamic webpages that optimized cargo check-in services, enabling clients to effortlessly track their crew. Also, played a vital role in crafting the iCargo Android app. Consistently met project deadlines and upheld a commitment to delivering exceptional client service, ensuring client satisfaction throughout the project lifecycle",
  },
  { 
    date: "Nov 2017 - Apr 2019",
    title: "National Informatics Centre, Govt of India",
    company: "IBS Software",
    description:"Collaborated on the Secure project, a web-based government application for precise cost estimation and project approval. Developed specialized web applications for in-depth cost analysis, ensuring accurate estimates and expediting government project approvals"
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
