---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  AWS: {
    name: "AWS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "DATA REPOSITORY PERFORMANCE",
    description:
      "To measure and compare the performance of retrieving data using SQL and redis cache in AWS",
    // link: "https://svgl.vercel.app/",
    github: "https://github.com/silpavg22/RedisAWS",
    // image: "/projects/svgl.webp",
    // tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "ONE MART",
    description:
    "A student marketplace where students can buy/sell products ,create posts, form/leave clubs etc.",
    github: "https://github.com/silpavg22/OneMartApp",
  },
  {
    title: "AdventJS - Retos de programaci칩n con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programaci칩n. M치s de 1 mill칩n de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
      github: "https://adventjs.dev",
  },
]
---

<div class="flex flex-row gap-y-16">
  {
    PROJECTS.map(({ title, description, github }) => (
    <article class="w-full flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">

  <div class="md:max-w-lg ">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code           
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



